body {
  background-color: #e6e6e6;
  color: #222831;
  margin: 0;
  text-align: center;
  font-family: 'Padauk', sans-serif;
}
h1 {
  margin: 20px auto 0 auto;
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  color: #00adb5;
}
h2 {
  margin-top: 10px;
  font-family: 'Langar', cursive;
  font-size: 2rem;
  font-weight: normal;
  color: #00adb5;
}
h3 {
  color: #11999E;
}
a {
  color: #11999E;
}
hr {
  width: 5%;
  border: 0.5rem dotted;
  border-bottom: none;
  color: #c9cbff;
  margin: 60px auto;
  text-align: center;
}

.top-container {
  background-color: #393e46;
}
.pro{
  text-decoration: underline;
}
.top-cloud {
  margin-top: 20px;
  margin-left: 500px;
}
.programming {
  width: 500px;
}
.skill-row {
  text-align: left;
  line-height: 2;
  width: 50%;
  margin: 50px auto 0 auto;
}
.skill-img1 {
  width: 25%;
  float: left;
  margin-right: 10px;
}
.skill-img2 {
  width: 25%;
  float: right;
  margin-left: 10px;
}
.profile {
  width: 50%;
  margin: 50px auto;
  font-size: 1.25rem;
}
.contact-me {
  width: 25%;
  margin: 50px auto;
}
.contact {
  width: 100%;
  padding-bottom: 20px;
}
.bottom-container {
  background-color: #393e46;
  padding: 20px;
}
.footer-link {
  font-size: 1.25rem;
  font-weight: bolder;
  text-decoration: none;
  margin: 20px;
}
.btn {
   background: #00ADB5;
   background-image: -webkit-linear-gradient(top, #00ADB5, #B7B8BB);
   background-image: -moz-linear-gradient(top, #00ADB5, #B7B8BB);
   background-image: -ms-linear-gradient(top, #00ADB5, #B7B8BB);
   background-image: -o-linear-gradient(top, #00ADB5, #B7B8BB);
   background-image: -webkit-gradient(to bottom, #00ADB5, #B7B8BB);
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 15px;
   font-weight: 600;
   padding: 10px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #B7B8BB;
   background-image: -webkit-linear-gradient(top, #B7B8BB, #00ADB5);
   background-image: -moz-linear-gradient(top, #B7B8BB, #00ADB5);
   background-image: -ms-linear-gradient(top, #B7B8BB, #00ADB5);
   background-image: -o-linear-gradient(top, #B7B8BB, #00ADB5);
   background-image: -webkit-gradient(to bottom, #B7B8BB, #00ADB5);
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   text-decoration: none;
}
